body {
	display: block !important;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='900' preserveAspectRatio='none' viewBox='0 0 1920 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1076%26quot%3b)' fill='none'%3e%3crect width='1920' height='900' x='0' y='0' fill='%231e3266'%3e%3c/rect%3e%3cpath d='M1952 900L0 900 L0 684.23Q89.87 614.11%2c 160 703.98Q182.01 629.99%2c 256 652Q311.58 611.58%2c 352 667.16Q456.35 611.51%2c 512 715.86Q573.23 617.09%2c 672 678.31Q702.77 613.08%2c 768 643.84Q855.97 571.81%2c 928 659.78Q1038.1 609.88%2c 1088 719.97Q1115.63 651.6%2c 1184 679.22Q1222.94 622.16%2c 1280 661.11Q1359.63 644.75%2c 1376 724.38Q1399.53 651.9%2c 1472 675.43Q1560.32 603.75%2c 1632 692.07Q1721.32 621.39%2c 1792 710.71Q1838.13 596.85%2c 1952 642.98z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M1984 900L0 900 L0 721.39Q109.78 671.17%2c 160 780.96Q221.01 681.98%2c 320 742.99Q413.21 676.2%2c 480 769.42Q571.02 700.44%2c 640 791.47Q702.92 694.39%2c 800 757.32Q856.99 718.31%2c 896 775.3Q922.84 706.13%2c 992 732.97Q1083.17 664.14%2c 1152 755.31Q1215.5 658.81%2c 1312 722.31Q1418.12 668.43%2c 1472 774.55Q1545.31 687.86%2c 1632 761.17Q1694.78 727.95%2c 1728 790.73Q1734.53 701.26%2c 1824 707.79Q1909.95 633.75%2c 1984 719.7z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M1984 900L0 900 L0 786.31Q83.15 709.46%2c 160 792.61Q234.25 770.86%2c 256 845.1Q287.02 780.12%2c 352 811.14Q422.36 785.5%2c 448 855.86Q464.5 776.37%2c 544 792.87Q636.58 725.45%2c 704 818.04Q777.54 731.58%2c 864 805.12Q927.5 772.62%2c 960 836.11Q1008.46 724.57%2c 1120 773.03Q1222.72 715.75%2c 1280 818.48Q1346.08 724.56%2c 1440 790.63Q1518.61 773.24%2c 1536 851.84Q1567.65 787.5%2c 1632 819.15Q1689.7 780.85%2c 1728 838.55Q1816.43 766.98%2c 1888 855.42Q1902.78 774.2%2c 1984 788.98z' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M2016 900L0 900 L0 856.3Q114.89 811.19%2c 160 926.09Q234.02 840.11%2c 320 914.13Q346.47 844.6%2c 416 871.07Q471.19 830.26%2c 512 885.44Q576.84 790.28%2c 672 855.11Q778.81 801.92%2c 832 908.73Q898.7 815.43%2c 992 882.13Q1020.17 814.3%2c 1088 842.46Q1196.07 790.53%2c 1248 898.6Q1308.35 862.95%2c 1344 923.3Q1386.65 805.95%2c 1504 848.6Q1563.99 812.6%2c 1600 872.59Q1704.51 817.1%2c 1760 921.6Q1805.05 806.64%2c 1920 851.69Q1990.42 826.12%2c 2016 896.54z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1076'%3e%3crect width='1920' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	background-size: cover;
	background-repeat: no-repeat;
}

.calendarDiv {
	padding: 0 100px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 0 !important;
}

.calendarDiv h5 {
	color: white;
	font-family: "Poppins";
	font-size: 2.5vw;
}

#eventsCalendar {
	padding: 2px;
	margin: auto;
	border-radius: 3px;
}
