@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*Smooth scroll declaration*/
html {
	scroll-behavior: smooth;
}
/*Smooth scroll ends*/

/*Back to top button style begins*/
/*The following code is for the back-to-top button. It sets the visual properties of the button as well as sets certain transition times. Media queries are included to continue the responsive design of page.*/
#back-to-top-btn {
	cursor: pointer;
	display: none;
	background-color: #3d0006;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	z-index: 1000;
	border: none;
	transition-duration: .35s;
	transition-timing-function: ease-in-out;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

#back-to-top-btn::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	color: #111;
	color: white;
}


#back-to-top-btn:hover,
#back-to-top-btn:focus {
	background-color: #333;
	color: #fff;
}

@media(max-width: 992px) {
	#back-to-top-btn::after {
		font-size: 18px;
		width: 45px;
		height: 45px;
		bottom: 15px;
		right: 15px;
	}

}

@media(max-width:768px) {
	#back-to-top-btn::after {
		font-size: 18px;
		width: 45px;
		height: 45px;
		bottom: 15px;
		right: 15px;
	}
}


/* The following animations are given under the class of .btnEntrance which toggled with a Java Script event listener. It sets the animation for the button entrance upon the scroll to the given heigt. @keyframe selector is used for enhanced animation. The button's exit is animated and coded under similair pretenses under the class of .btnExit.*/
.btnEntrance {
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: btnEntrance;
}

/* Fade in, opacity animation from and to.*/
@keyframes btnEntrance {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.btnExit {
	animation-duration: 0.25s;
	animation-fill-mode: both;
	animation-name: btnExit;
}

/* Button exit code, fade down*/
@keyframes btnExit {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}
}

/*Back to top button ends here*/
/*Back to top button style ends*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: unset;
	overflow-x: hidden;
	min-width: 1000px;
	width: auto !important;
	width: 1000px;
}


/*Navigation bar starts*/
nav {
	display: flex;
	height: 9vh;
	min-height: 90px;
	width: 100%;
	background: #3d0006;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
	font-family: 'Roboto', sans-serif;
	position: fixed;
	top: 0;
	box-shadow: 0 10px 30px rgba(0, 0, 1, .15);
	z-index: 1000000;
	transition-duration: .35s;
	transition-timing-function: ease-in-out;
	transform: 0.5s;
}

/*logo starts*/
nav .logo {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
	cursor: pointer;
	width: auto;
}

.logo a {
	text-decoration: none;
	color: #fff;
}

/*logo ends*/


/*nav links starts*/
nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

nav ul li {
	margin: 0 5px;
	display: inline-block;
	padding: 0.4vh .9vw;
}

nav ul li a {
	color: #ffff;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 5px;
	letter-spacing: 1px;
	transition: all 0.3s ease;

	/*Needed for button animations*/
	position: relative;
	z-index: 1;
}

@media only screen and (max-width: 1500px) {
	nav ul li a {
		font-size: 16px;
		padding: 8px 8px;
	}
}

/*Dropdown items begin*/
/*The following attributes are given to the drop down elements in the HTML under the classes of "dropdown" and "dropdown-content." They are given all the necessary properties needed to achieve the dropdown navbar format.*/
.dropdown {
	list-style: none;
	text-align: center;
}

.dropdown-content {
	display: block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(28, 28, 28, 0.925);
	width: 19rem;
	padding-top: 10px;
	transition: all .35s;
}

#gallery {
	width: 10rem;
	transition: all .35s;
}

.dropdown-content a {
	color: #232323;
	background-color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms ease-in-out;
	-moz-transition: opacity 300ms ease-in-out;
	-webkit-transition: opacity 300ms ease-in-out;
}

/*Dropdown items ends*/

/*The following section is for the animation of the nav-links upon hover. As seen several lines down, the default view of the "box" is set to transparent. All properties given in the ":after" state are made visible in the ":hover" under the visibility property. The @media query below is used in media queries to apply nav-link box animations only when the screen is larger than 768. Further down, a media query will be used to make a hidden, toggle-only nav bar for smaller devices.*/
@media only screen and (min-width: 1125px) {

	nav ul li a,
	nav ul li a:after,
	nav ul li a:before {
		transition: all .5s;
	}

	nav-item:hover {
		color: white;
	}

	/*
	nav ul li a:after {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		width: 100%;
		height: 1px;
		content: '';
		color: transparent;
		background: #696863;
		visibility: none;
		opacity: 0;
		z-index: -1;
	}

		nav ul li a:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
		border-radius: 3px;
	}
*/
	nav ul li a:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		height: 3px;
		width: 0%;
		background: #34efdf;
		border-radius: 12px;
		transition: all 0.4s ease;
	}

	nav ul li a:hover:before {
		width: 100%;
	}

	nav ul li a:before {
		left: 50%;
		transform: translateX(-50%);
	}

	.dropdown-content a:after {
		background: #dcd6d0 !important;
	}

	.dropdown-content a:hover:after {
		opacity: 1;
		visibility: visible;
		height: 100%;
		border-radius: 3px;
	}
}

/*Nav-links hover animation ends*/
/*nav links ends*/


/*hamburger design starts*/
.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: #fff;
	stroke-width: 5.5;
	stroke-linecap: round;
}

.ham1 .top {
	stroke-dasharray: 40 139;
}

.ham1 .bottom {
	stroke-dasharray: 40 180;
}

.ham1.active .top {
	stroke-dashoffset: -98px;
}

.ham1.active .bottom {
	stroke-dashoffset: -138px;
}

nav .menu-btn svg {
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

/*hamburger design ends*/


/*Responsive navbar code begins*/
/*POPUP NAV BAR FROM BURGER CODE STARTS*/
input[type="checkbox"] {
	display: none;
}

@media (max-width: 1000px) {
	nav {
		padding: 0 40px 0 50px;
	}
}

@media (max-width: 1125px) {
	nav .menu-btn svg {
		display: block;
	}

	#click:checked ~ .menu-btn svg:before {
		content: "\f00d";
	}

	nav ul {
		position: absolute;
		top: 90px;
		left: -100%;
		min-height: 90vh;
		background: #232323;
		width: 100%;
		text-align: center;
		display: block;
		transition: all 0.4s ease;
		overflow: visible;
	}

	#click:checked ~ ul {
		left: 0;
	}

	#click:checked ~ .menu-items {
		margin: 0;
		position: absolute;
	}

	nav ul li {
		width: 100%;
		margin: 2.5vh 0;
	}

	nav ul li a {
		margin-left: -150%;
		display: block;
		padding: 5px 15px;
		font-size: 24px;
		transition: all 0.4s ease-in-out;
	}

	.nav-links {
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	/*Dropdown content style begins*/
	.dropdown-content {
		position: absolute;
		background-color: #f9f9f9;
		box-shadow: 0;
		z-index: 100000;
		padding: 0;
		margin: 0 25%;
		width: 50%;
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: all 0s;
	}

	/*Dropdown animation begins*/
	.dropdown:hover .dropdown-content {
		visibility: visible;
		opacity: 1;
		transition: opacity 100ms ease-in-out;
		-moz-transition: opacity 100ms ease-in-out;
		-webkit-transition: opacity 100ms ease-in-out;
	}

	/*Dropdown animation ends*/

	#gallery {
		margin: 0 30%;
		width: 40%;
	}

	@media (min-width: 650px) {
		.dropdown-content {
			margin: 0 35%;
			width: 30%;
		}

		#gallery {
			margin: 0 40%;
			width: 20%;
		}
	}

	.dropdown-content a {
		color: #232323;
		padding: 12px 16px !important;
		text-decoration: none;
		display: block;
		text-align: left;
		font-size: 3vh;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

	.dropdown-content a:hover {
		color: #d42145;
	}

	/*Dropdown content style ends*/

	/*Link spacing adapts to screen size starts*/
	@media screen and (max-height: 650px) {
		nav ul li {
			margin: 2.7vh 0;
		}

		nav ul li a {
			font-size: 4vh;
			padding: 0;
		}
	}

	/*Link spacing adapts to screen ends*/

	/*Nav style for extra small screen starts. This handles overflow and scroll of navigation container*/
	@media screen and (max-height: 500px) {
		nav ul {
			overflow: auto;
		}

		nav ul li {
			margin: 10px 0;
		}

		nav ul li a {
			font-size: 17px;
			padding: 0;
		}

	}

	/*Nav style for extra small screen ends*/

	#click:checked ~ ul li a {
		margin-left: 0px;
	}

	/*Link hover animation begins*/
	nav ul li a.active,
	nav ul li a:hover {
		background: none;
		color: #ff707e;
	}

	/*Link hover animation ends*/
}

/*POPUP NAV BAR FROM BURGER CODE ENDS*/
/*Responsive navbar code ends*/
/*Navigation bar ends*/



/*Main body begins*/
/*Main body ends*/



/*Footer properties begin. Footer is given a relative position and bottom: 0 in order to ensure that it sticks to the bottom.*/
footer {
	background: #112d42;
	color: white;
	min-height: 400px;
	position: relative;
	bottom: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

footer a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	color: aliceblue;
}

.footer-content {
	display: flex;
	vertical-align: bottom;
	padding: 20px;
	padding-top: 1vw;
	white-space: normal;
	position: relative;
	white-space: nowrap;
}

.footer-section {
	padding: 30px;
	height: 100%;
}

.map {
	width: 30%;
	height: 20em;
	white-space: normal;
}

.about {
	width: 40%;
	white-space: normal;
}

.name {
	font-family: "Open Sans", sans-serif;
}

.about p {
	font-weight: 400;
	font-size: 15px;
	padding: 10px 10px 20px 0px;
}

.contact-info span {
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.fas {
	font-size: 1.1em;
	padding-top: .2em;
}

.social .fab {
	font-size: 1.5rem;
	padding-right: 15px;
}

.social {
	padding: 10px;
}

.directory {
	width: 30%;
	white-space: normal;
}

.directory ul {
	padding-top: 10px;
}

.directory a {
	display: flex;
	padding-bottom: 6px;
	padding-left: 10px;
}

.directory li {
	list-style-type: none;
	transition: all .7s ease-in-out;
}

.directory li:hover {
	transform: translateX(40px);
}

.copyright {
	background: #14142e;
	text-align: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	overflow: hidden;
	font-weight: 400;
}

@media only screen and (max-width: 1500px) {
	.about {
		width: 35%;
	}

	.map {
		width: 30%;
	}

	.directory {
		width: 35%;
	}
}


@media only screen and (max-width: 1000px) {
	.footer-content {
		flex-direction: column;
	}

	.footer-section {
		width: 100%;
	}

	.directory {
		padding: 0 30px;
		padding-bottom: 5em
	}
}

/*Begin Mailchimp Signup Form*/
#mc_embed_signup form {
	display: block;
	position: relative;
	text-align: left;
	padding: 0px 50px 10px 3%;
}

#mc_embed_signup h2 {
	font-weight: bold;
	padding: 0;
	padding-top: 10px !important;
	margin-bottom: 12px;
	font-size: 1.4em;
}

#mc_embed_signup input {
	border: 1px solid #ABB0B2;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#mc_embed_signup input[type=checkbox] {
	-webkit-appearance: checkbox;
}

#mc_embed_signup input[type=radio] {
	-webkit-appearance: radio;
}


#mc_embed_signup .button {
	clear: both;
	border: 0 none;
	border-radius: 4px;
	transition: all 0.23s ease-in-out 0s;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	height: 32px;
	line-height: 32px;
	margin: 5px 5px 10px 0;
	padding: 0 22px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	width: auto;
	position: relative;
	cursor: pointer;
	background: #009090;
	border: none;
	width: 8rem;
	border-radius: 5px;
	transition: all .4s;
}


#mc_embed_signup .button:hover {
	background: grey;
	color: white;
}

#mc_embed_signup .small-meta {
	font-size: 11px;
}

#mc_embed_signup .nowrap {
	white-space: nowrap;
}

#mc_embed_signup .mc-field-group {
	clear: left;
	position: relative;
	width: 96%;
	padding-bottom: 3%;
	min-height: 50px;
	font-weight: 500;
	font-size: 15px;
}

#mc_embed_signup .size1of2 {
	clear: none;
	float: left;
	display: inline-block;
	width: 46%;
	margin-right: 4%;
}

* html #mc_embed_signup .size1of2 {
	margin-right: 2%;
	/* Fix for IE6 double margins. */
}

#mc_embed_signup .mc-field-group label {
	display: block;
	margin-bottom: 3px;
}

#mc_embed_signup .mc-field-group input {
	display: block;
	width: 100%;
	padding: 8px 0;
	text-indent: 2%;
}

#mc_embed_signup .mc-field-group select {
	display: inline-block;
	width: 99%;
	padding: 5px 0;
	margin-bottom: 2px;
}

#mc_embed_signup .datefield,
#mc_embed_signup .phonefield-us {
	padding: 5px 0;
}

#mc_embed_signup .datefield input,
#mc_embed_signup .phonefield-us input {
	display: inline;
	width: 60px;
	margin: 0 2px;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px 0 2px 0;
}

#mc_embed_signup .phonefield-us .phonearea input,
#mc_embed_signup .phonefield-us .phonedetail1 input {
	width: 40px;
}

#mc_embed_signup .datefield .monthfield input,
#mc_embed_signup .datefield .dayfield input {
	width: 30px;
}

#mc_embed_signup .datefield label,
#mc_embed_signup .phonefield-us label {
	display: none;
}

#mc_embed_signup .indicates-required {
	text-align: right;
	font-size: 11px;
	margin-right: 4%;
}

#mc_embed_signup .asterisk {
	color: #e85c41;
	font-size: 150%;
	font-weight: normal;
	position: relative;
	top: 5px;
}

#mc_embed_signup .clear {
	clear: both;
}

#mc_embed_signup .mc-field-group.input-group ul {
	margin: 0;
	padding: 5px 0;
	list-style: none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
	display: block;
	padding: 3px 0;
	margin: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
	display: inline;
}

#mc_embed_signup .mc-field-group.input-group input {
	display: inline;
	width: auto;
	border: none;
}

#mc_embed_signup div#mce-responses {
	float: left;
	top: -1.4em;
	padding: 0em .5em 0em .5em;
	overflow: hidden;
	width: 90%;
	margin: 0 5%;
	clear: both;
}

#mc_embed_signup div.response {
	margin: 1em 0;
	padding: 1em .5em .5em 0;
	font-weight: bold;
	float: left;
	top: -1.5em;
	z-index: 1;
	width: 80%;
}

#mc_embed_signup #mce-error-response {
	display: none;
}

#mc_embed_signup #mce-success-response {
	color: #529214;
	display: none;
}

#mc_embed_signup label.error {
	display: block;
	float: none;
	width: auto;
	margin-left: 1.05em;
	text-align: left;
	padding: .5em 0;
}

#mc-embedded-subscribe {
	clear: both;
	width: auto;
	display: block;
	margin: 1em 0 1em 5%;
}

#mc_embed_signup #num-subscribers {
	font-size: 1.1em;
}

#mc_embed_signup #num-subscribers span {
	padding: .5em;
	border: 1px solid #ccc;
	margin-right: .5em;
	font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
	display: inline-block;
	margin: 2px 0 1em 0;
	padding: 5px 10px;
	background-color: rgba(255, 255, 255, 0.85);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: normal;
	z-index: 1;
	color: #e85c41;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
	border: 2px solid #e85c41;
}

/*End Mailchimp Signup Form*/
/*Footer properties end*/
